<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      {{brand}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/parametro/90" class="nav-link active">Parametro 90</a>
        </li>
        <li class="nav-item">
            <a routerLink="/parametro/teste" class="nav-link active">Parametro teste</a>
        </li>
        <li class="nav-item">
            <a routerLink="/teste" class="nav-link active">Spinner</a>
        </li>
      </ul>
    </div>
  </div>
</nav>