<div class="card">
  <img [src]="jogador.nomeImagem" class="card-img-top">
  <div class="card-body">
    <div class="d-flex justify-content-between">
        <h3>{{jogador.nome}}</h3>
        <h4>{{jogador.posicao}}</h4>
    </div>
    <p class="m-0 lead">Idade: {{jogador.idade}}</p>
    <div class="d-flex justify-content-between">
        <p class="m-0 lead">Número: {{jogador.numero}}</p>
        <button (click)="escalou()" class="btn btn-success" type="button">
            <i class="bi bi-plus-circle me-2"></i>Escalar
        </button>
    </div>
  </div>
</div>